@media screen and (min-width : 992px) {
    
   
    .Header_Section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 90px;
        background-color: #3e7ef6;
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;

    }

    .Header_Section img {
        width: 120px;
    }

    .navbar ul {
        display: flex;
        align-items: center;
    }
    .navbar ul li{
        list-style: none;
        padding: 10px 18px;
        transition: 0.2s;
    }
    .navbar ul li:hover{
        background-color: #0057f8;
        border-radius: 8px;
    }
    .navbar ul li:hover a{
        font-size: 22px;
    }
    .navbar ul li a{
        text-decoration: none;
        color: aliceblue;
        font-size: 18px;
        transition: 0.2s;
    }
    .inst-name {
        color: aliceblue;
    }

    .submenu-dept {
        display: none;
    }

    .submenu-result {
        display: none;
    }


    .hr-line{
        margin: 0px;
        
    }
    /*Main*/
    .main {
        background: rgba(13, 93, 243, 0.192);
    }

    .student-corner-ul li {
        transition: 0.1s;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.382);
    }

    .student-corner-ul {
        list-style: none;
    }

    .student-corner-ul li a {
        margin-left: 20px;
        text-decoration: none;
        color: black;
        font-size: 20px;

    }

    .text-stdcorner {
        font-size: 20px;
        margin-bottom: 5px;
        margin-left: 40px;
        padding: 10px;

    }

    .student-corner-ul li:hover, .student-corner-ul li:hover a {
        transition: 0.1s;
        color: white;
        background-color: #3e7ef6;

    }

    .mySlides {
        display: none;
    }

    .w3-display-container img {
        width: 100%;
    }

    .w3-content {
        border: 3px solid black;
        margin: 20px;
    }




    /*Submenu*/
    .sub-menu {
        display: none;
    }



    /*Section*/
    .section-content {
        padding: 10px;
       
    }

    .section-row {
        background: rgba(13, 94, 243, 0.75);
        margin-bottom: 25px;
        transition: 0.2s;
        /*
        border: 1px solid black;*/
        border-radius: 10px;
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;

    }

    /* .section-row:hover {
        background: rgb(0, 88, 251);
        transition: 0.2s;

    } */

    .section-content-img {
        width: 100%;
        border-radius: 10px;
    }

    .section-content-title {
        font-size: 30px;
        margin-top: 10px;
        color: white;
        opacity: 80%;
    }

    .section-content-desc {
        font-size: 17px;
        color: white;
        opacity: 60%;
        font-family: "Roboto",sans-serif;
    }

    .lab-details-btn {
        border: 2px solid rgba(255, 255, 255, 0.614);
        background-color: #3e7ef6;
        text-decoration: none;
        color: white;
        opacity: 70%;
        transition: 0.2s;
        font-size: 17px;
        padding: 8px 18px;
        margin-top: 20px;
    }

    .lab-details-btn:hover {
        text-decoration: none;
        border: 2px solid black;
        background-color: white;
        border-radius: 5px;
        transition: 0.2s;
        color: black;
    }



    .hr-line-s1 {
        margin: 0px;
        border-color: #34e03f;
    }


    /*Project Section*/
    .project-section {
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;
        background-color: #d0e0fd;
        padding: 20px;
        margin: 20px 0px;
    }

    .project-section-title {
        text-align: center;
        font-size: 30px;
        padding: 10px 0px;
        font-family: monospace;
    }

    .project {
        padding: 10px;
        border-radius: 15px;
        background-color: rgb(151, 187, 255);
        width: 25%;
        display: inline-block;
        margin: 10px;
    }

    .project-img {
        width: 100%;
        border-radius: 15px;
        border: 3px solid black;
    }

    .project-title {
        font-family: monospace;
        margin-bottom: 5px;
        font-size: 25px;
        padding-top: 10px;
    }

    .project-title a {
        text-decoration: none;
    }

    .project-desc {
        font-size: 15px;
        font-family: monospace;
        font-family: "Roboto",sans-serif;
    }

    .project-btn {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 150px;
        background-color: #77a5f9;
        border: none;
        border-radius: 5px;
        border: 3px solid rgb(88, 147, 255);
        transition: 0.2s;
        margin-bottom: 10px;

    }

    .project-btn:hover {
       background-color: rgb(88, 147, 255);
        transition: 0.2s;
        border-radius: 5px;
        border: 3px solid #000;
        color: black;
    }




    /*Notice Section*/
    .notice-section {
        margin-bottom: 25px;
        margin-top: 18px;
        margin-left: 10px;
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;

        background-color: rgb(151, 187, 255);
    }

    .content-title {
        text-align: center;
        font-size: 25px;
        padding-top: 20px;
    }

    .notice-list {
        list-style-type: disc;
    }

    .notice {
        font-family: "Roboto",sans-serif;
        padding: 2px;
    }

    .notice a {
        transition: 0.2s;
        text-decoration: none;
        font-size: 15px;
    }

    .notice a:hover {
        text-decoration: underline;
        font-weight: ;
        transition: 0.2s;
    }

    .notice-all-btn {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-left: 25px;
        text-align: ;
        background-color: rgb(139, 179, 254);
        border: none;
        border-radius: 5px;
        border: 3px solid rgb(88, 147, 255);
        transition: 0.2s;
        margin-bottom: 8px;
    }
    .notice-all-btn:hover{
        background-color: rgb(88, 147, 255);
        transition: 0.2s;
        border-radius: 5px;
        border: 3px solid #000;
        color: black;
    }
    .notice-all-btn p {
        margin-bottom: 0px;
    }

    /*Student-Login*/
    .student-login {
        padding-bottom: 0px;
        background-color: rgb(151, 187, 255);
        margin-top: 15px;
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;
    }

    .student-login-title {
        text-align: center;
        font-size: 20px;
        padding-top: 7px;

    }

    .student-login-imgdiv {
        text-align: center;
    }

    .student-login-img {
        width: 30%;
        padding-top: px;
        padding-bottom: px;
    }

    .student-login-field {
        padding: 10px;
        margin-left: 10px;
        font-size: px;
    }

    .roll-label {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .roll-input {
        background-color: transparent;
        border: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 3px solid rgb(88, 147, 255);
    }

    .pass-label {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .pass-input {
        background-color: transparent;
        border: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 3px solid rgb(88, 147, 255);
    }

    .student-login-button {
        text-align: center;
    }

    .login-btn {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: ;
        background-color: rgb(139, 179, 254);
        border: none;
        border-radius: 5px;
        border: 3px solid rgb(88, 147, 255);
        transition: 0.2s;
        margin-bottom: 10px;
    }

    .login-btn:hover {
        background-color: rgb(151, 187, 255);
        transition: 0.2s;
        border-radius: 5px;
        border: 3px solid black;
        color: black;
    }

    /*Photo Gallery*/
    .image-gallery {
        margin-top: 15px;
        margin-left: 10px;
        left: 10px;
        padding-bottom: 50px;
        background-color: rgb(151, 187, 255);
        
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;
    }

    .image-gallery-title {
        padding-top: 10px;
        font-size: 20px;
        text-align: center;
    }

    .gallery-image {
        text-align: center;
    }

    .gallery-img {
        width: 90%;
        margin: 10px;
        border-radius: 8px;
    }

    .gallery-img:hover {}

    .gallery-view-more-btn {
        display: none;/**/
        padding: 4px 18px;
        margin-left: 25px;
        margin-bottom: 10px;

        
        background-color: rgb(139, 179, 254);
        
        border-radius: 5px;
        border: 3px solid rgb(88, 147, 255);
        transition: 0.2s;
        

    }

    .gallery-view-more-btn a:hover {
        text-decoration: none;
        color: white;
    }

    .gallery-view-more-btn a {
        text-decoration: none;
    }

    .gallery-view-more-btn:hover {
        background-color: black;
        transition: 0.2s;
        border-radius: 5px;
        border: 3px solid #fff;
        color: white;
    }

    /*CI Speech*/
    .ci-title {
        text-align: center;
        font-size: 20px;
        padding-top: px;
    }

    .ci-section {
        padding-top: 15px;
        padding-right: 20px;
        margin-right: 0px;

        background-color: rgb(151, 187, 255);
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;

    }

    .ci-image {
        position: absolute;
    }

    .ci-profile-img {
        width: 20%;
        padding: 10px;
    }

    .ci-name {
        font-weight: 500;
        font-size: 20px;
        text-align: right;
    }

    .ci-speech-text {
        font-size: 17px;
        text-align: justify;
        padding: 10px;
        font-family: "Roboto",sans-serif;
        padding-bottom: 20px;
    }

    .inner-hr {
        margin: 10px;

    }

    .experimental-cf {
        padding: 0px;
    }


    .absolute {
        position: absolute;
        top: 3627px;
        left: 20px;
    }


    /*Important Links*/
    .i-links {
        background-color: rgb(151, 187, 255);
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-left: -10px;
        height: 335px;
    }

    .links-title {
        text-align: center;
        font-family: 10px;
        margin-bottom: 0px;
    }

    .links-ul .links-li {
        border-bottom: 1px solid black;
        transition: 0.1s;
        font-size: 14px;
        padding-top: 1px;
        padding: 10px;
        margin-bottom: 8px;
        font-family: "Roboto",sans-serif;
    }

    .links-li:hover {
        transition: 0.1s;
        background-color: #71a3ff;
        border: 2px solid black;
    }

    .links-ul a {
        margin-left: 10px;
        text-decoration: none;
    }

    .links-ul a:hover {
        text-decoration: none;
    }

    /*map*/
    .map {
        background-color: rgb(151, 187, 255);
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;
        padding-bottom: 30px;
    }

    .map-image {
        text-align: center;
        padding: 20px;
    }

    .map-img {
        width: 100%;
        transition: 0.2s;
        opacity: 75%;
        border: 2px solid black;

    }

    .map-img:hover {
        opacity: 100%;
        transition: 0.2s;
    }

    .address-p {
        margin-left: 20px;
        margin-bottom: 5px;
    }

    .map-btn {
        /* position: absolute;
        top: 750px;
        left: 426px; */
        float: right;
        margin-top: -30px;
        margin-right: 30px;
        padding: 10px 18px 10px 18px;
        border-radius: 5px;       
        background-color: rgb(139, 179, 254);
        border: 3px solid rgb(88, 147, 255);
        transition: 0.2s;
        margin-bottom: 10px;
    }

    .map-btn a:hover {
        text-decoration: none;
        color: white;
    }

    .map-btn a {
        text-decoration: none;
    }

    .map-btn:hover {
        background-color: rgb(88, 147, 255);
        transition: 0.2s;
        border-radius: 5px;
        border: 3px solid #000;
        color: black;
    }



    /*Contact Section*/
    .contact-us {
        background-color: rgb(151, 187, 255);
        box-shadow: rgb(154, 189, 255) 0px 5px 15px;: rgb(88, 147, 255) 0px 5px 15px;
        padding: 10px 10px;
        padding-bottom: 32px;
    }

    .contact-title {
        text-align: center;
        font-size: 25px;
        padding: 10px 0px;
    }

    .contact-links ul {
        padding-left: 0px;
    }

    .c-link {
        list-style: inside;
        transition: 0.2s;
        padding: 12px 10px;
        margin: 14px;
        border: 1px solid black;
        background-color: #a3c3ff;
    }

    .c-link:hover {
        border: 2px solid black;

        transition: 0.2s;
        background-color: #77a5f9;
    }

    .c-link a {
        font-size: 16px;
        text-decoration: none;
    }



    /*Footer*/
    footer {
        background-color: #d0e0fd;

        text-align: center;
        padding: 20px;
        font-family: monospace;
    }

    footer p {
        margin: 0px;
        color: black;

    }

    footer p a {
        text-decoration: none;
    }

    footer p a:hover {
        text-decoration: none;
    }

    .hr-line-footer {
        margin-top: 0px;
        margin-bottom: 20px;
    }

}